.Heading{
  text-align: center;
  font-weight:bolder;
  font-size: 40px;
  color: yellow;
  background-color: red;
  margin: 10px 15px;
}
.container {
  text-align: center;
  margin: 2rem;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background-color: #fff;
}
input[type=text]{
  padding: 12px;
  border:#ccc;
  resize:vertical;
  margin-bottom:10px ;
  border-radius: 10px;
}
input:hover{
  background-color: aquamarine;
  border: none;
}
.form-data{
  margin-top: 20px;
  text-align: center;
  color:blueviolet;
  background-color:cyan;
  font-weight: bold;
  box-shadow: #fff;
}

button {
  padding: 0.5rem 1rem;
  margin: 5px;
  display: block;
  background-color: hsl(211, 77%, 57%) !important;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3 !important;
}

.result {
  text-align: center;
  margin-top: 4rem;
}

/*  Loading Animaton */

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007BFF; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

